body {
font-family: "Times New Roman", Times, serif;
}

.little-prince-page {
width: 350px;
margin: 10px auto;
}

.little-prince-page img {
width: 350px;
}

.little-prince-page p {
margin-top: 0.5px;
}

.highlight {
background-color: orange;
font-weight: bold;
}

.red-bold {
color: red;
font-weight: bold;
}

.little-prince-page a {
margin-top: 6px;
}
